@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



@theme{
    --font-fredoka: 'Fredoka', sans-serif;
    --font-chewy: 'Chewy', sans-serif;
    --font-comfortaa: 'Comfortaa', cursive;
    --color-light-primary: #FF8C42;
    --color-light-accent: #6C63FF;

    --color-light-primary-button:#FF8C42;
    --color-light-primary-buttonhover: #ff7a28;
    --color-light-button: #6C63FF;
    --color-light-accentButtonhover: #574fff;

    --color-light-background: #FFFCF7;
    --color-light-text: #222222;
    --color-light-secondary-text: #666666;
    --color-light-card: #FFFFFF;

    --color-dark-background: #1E1E2E;
    --color-dark-text: #FFFFFF;
    --color-dark-secondary-text: #AAAAAA;
    --color-dark-card:#2A2A3C;

    --color-dark-button:#9A8CFF;
    --color-dark-primary-button: #FFB86B;
    --color-dark-primary-buttonhover: #ff9e3a;
    --color-dark-accentButtonhover: #7a6df7;


    --color-dark-accent: #9A8CFF;
    --color-dark-primary: #FFB86B
  
  }



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


